@charset "utf-8";

/*
Base style
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    line-height: 1.5;
    color: #333;
}

/* 
header
*/
.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.header-logo {
    margin: 0;
    padding: 16px 20px;
    background-color: #fff;
    width: 100vw;
}
.header-logo > a {
    display: flex;
    color: transparent;
}
/* .header-nav {} */
.header-navlist {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #333;
}
/* .header-navitem {} */
.header-navitem > a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}
.header-navitem > a:hover {
    border-bottom: 2px solid #333;
}

/*
section
*/
 .section{
    padding: 20px 16px;
}


/*
grid
*/
.grid {
    margin: 100px 0 0  ;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item {
    list-style: none;
    width: 33.3%;
}
.feature-description {
    margin:  0;
}
/*
main
*/
.main {
    display: flex;
}

/*
article
*/
.article {
    margin: 0 0 20px;
    width: 60%;
} 
.article-headline {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 12px;
}
.article-caption {
    /* text-align: center; */
    font-size: 16px;
}
.sidebar {
    width: 20%;
}
.author-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}
/*
archive
*/
.archive {
    text-align: center;
    margin-bottom: 60px;
}
.archive ul {
    border-bottom: solid 1px #777;
}
.archive li {
    font-size: 0.875rem;
    border-top: solid 1px #777;
    padding: 20px;
    text-align: left;
}
.footer {
    background-color: #F7F7F7;
}

.small {
    text-align: center;
}